<div class="pop-up" style="display:@(GetPopUpStyle())">
    <div class="pop-up-background" @onclick="() => _popUp.TogglePopUpVisibility()">
    </div>
    <div class="pop-up-content">

        <div class="pop-up-header">
            <button type="button" @onclick="()=>_popUp.TogglePopUpVisibility()" class="btn-close btn-close-white"></button>
            <h2>@Title</h2>
        </div>
        <div class="pop-up-form">
            @FromContent
        </div>
    </div>
</div>

