@inherits LayoutComponentBase

    <div class="page">


        <main>
            <NavMenu />
            <article class="content align-items-center">
                @Body
            </article>
        </main>
    </div>

