<nav>
    <div class="navbar">
    <a href="/" >
        <img class="rounded-circle p\" src="/Images/Logo.jpg" width="45" height="45" alt="logo">
    </a>
    <ul>
        <li class="nav-item"><a class="nav-link" href="/accounts">الحسابات</a></li>
        <li class="nav-item"><a class="nav-link" href="/reports">التقارير</a></li>
        <li class="nav-item"><a class="nav-link" href="/">المواقع</a></li>
    </ul>
    </div>
</nav>